## Data
Being able to easily load and process data is a crucial task that can make any data science more pleasant. In this notebook, we will cover most common types often encountered in data science tasks, and we will be using this data throughout the rest of this tutorial.

In [1]:
using BenchmarkTools
using DataFrames
using DelimitedFiles
using CSV
using XLSX

‚îå Info: Precompiling DataFrames [a93c6f00-e57d-5684-b7b6-d8193f3e46c0]
‚îî @ Base loading.jl:1260
‚îå Info: Precompiling CSV [336ed68f-0bac-5ca0-87d4-7b16caf5d00b]
‚îî @ Base loading.jl:1260
‚îå Info: Precompiling XLSX [fdbf4ff8-1666-58a4-91e7-1b58723a45e0]
‚îî @ Base loading.jl:1260

# üóÉÔ∏è Get some data
In Julia, it's pretty easy to dowload a file from the web using the `download` function. But also, you can use your favorite command line commad to download files by easily switching from Julia via the `;` key. Let's try both.

Note: `download` depends on external tools such as curl, wget or fetch. So you must have one of these.

In [2]:
?download

search: download

  download(url::AbstractString, [localfile::AbstractString])

  Download a file from the given url, optionally renaming it to the given
  local file name. If no filename is given this will download into a
  randomly-named file in your temp directory. Note that this function relies
  on the availability of external tools such as curl, wget or fetch to
  download the file and is provided for convenience. For production use or
  situations in which more options are needed, please use a package that
  provides the desired functionality instead.

  Returns the filename of the downloaded file.

  ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ

  download(url::Union{AbstractString, AbstractPath}, localfile::AbstractPath)

  Download a file from the remote url and save it to the localfile path.

In [3]:
P = download("https://raw.githubusercontent.com/nassarhuda/easy_data/master/programming_languages.csv",
    "programminglanguages.csv")

"programminglanguages.csv"

Another way would be to use a shell command to get the same file.

In [4]:
;wget "https://raw.githubusercontent.com/nassarhuda/easy_data/master/programming_languages.csv"

--2020-05-25 11:16:00--  https://raw.githubusercontent.com/nassarhuda/easy_data/master/programming_languages.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 876 [text/plain]
Saving to: ‚Äòprogramming_languages.csv‚Äô

     0K                                                       100% 22.0M=0s

2020-05-25 11:16:00 (22.0 MB/s) - ‚Äòprogramming_languages.csv‚Äô saved [876/876]

# üìÇ Read your data from text files.
The key question here is to load data from files such as `csv` files, `xlsx` files, or just raw text files. We will go over some Julia packages that will allow us to read such files very easily.

Let's start with the package `DelimitedFiles` which is in the standard library.

In [5]:
;head programminglanguages.csv

year,language
1951,Regional Assembly Language
1952,Autocode
1954,IPL
1955,FLOW-MATIC
1957,FORTRAN
1957,COMTRAN
1958,LISP
1958,ALGOL 58
1959,FACT

In [6]:
#=
readdlm(source, 
    delim::AbstractChar, 
    T::Type, 
    eol::AbstractChar; 
    header=false, 
    skipstart=0, 
    skipblanks=true, 
    use_mmap, 
    quotes=true, 
    dims, 
    comments=false, 
    comment_char='#')
=#
P,H = readdlm("programming_languages.csv",',';header=true);

In [7]:
H

1√ó2 Array{AbstractString,2}:
 "year"  "language"

In [8]:
# To write to a text file, you can:
writedlm("programminglanguages_dlm.txt", P, '-')

A more powerful package to use here is the `CSV` package. By default, the CSV package imports the data to a DataFrame, which can have several advantages as we will see below.

In general,[`CSV.jl`](https://juliadata.github.io/CSV.jl/stable/) is the recommended way to load CSVs in Julia. Only use `DelimitedFiles` when you have a more complicated file where you want to specify several things.

In [9]:
C = CSV.read("programming_languages.csv");

In [10]:
@show typeof(C)
C[1:10,:]
# C.year #[!,:year]

typeof(C) = DataFrame

10√ó2 DataFrame
‚îÇ Row ‚îÇ year  ‚îÇ language                   ‚îÇ
‚îÇ     ‚îÇ Int64 ‚îÇ String                     ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ 1   ‚îÇ 1951  ‚îÇ Regional Assembly Language ‚îÇ
‚îÇ 2   ‚îÇ 1952  ‚îÇ Autocode                   ‚îÇ
‚îÇ 3   ‚îÇ 1954  ‚îÇ IPL                        ‚îÇ
‚îÇ 4   ‚îÇ 1955  ‚îÇ FLOW-MATIC                 ‚îÇ
‚îÇ 5   ‚îÇ 1957  ‚îÇ FORTRAN                    ‚îÇ
‚îÇ 6   ‚îÇ 1957  ‚îÇ COMTRAN                    ‚îÇ
‚îÇ 7   ‚îÇ 1958  ‚îÇ LISP                       ‚îÇ
‚îÇ 8   ‚îÇ 1958  ‚îÇ ALGOL 58                   ‚îÇ
‚îÇ 9   ‚îÇ 1959  ‚îÇ FACT                       ‚îÇ
‚îÇ 10  ‚îÇ 1959  ‚îÇ COBOL                      ‚îÇ

In [11]:
@show typeof(P)
P[1:10,:]

typeof(P) = Array{Any,2}

10√ó2 Array{Any,2}:
 1951  "Regional Assembly Language"
 1952  "Autocode"
 1954  "IPL"
 1955  "FLOW-MATIC"
 1957  "FORTRAN"
 1957  "COMTRAN"
 1958  "LISP"
 1958  "ALGOL 58"
 1959  "FACT"
 1959  "COBOL"

In [12]:
names(C)

2-element Array{String,1}:
 "year"
 "language"

In [13]:
names(C)
C.year
C.language
describe(C)

2√ó8 DataFrame. Omitted printing of 2 columns
‚îÇ Row ‚îÇ variable ‚îÇ mean    ‚îÇ min      ‚îÇ median ‚îÇ max       ‚îÇ nunique ‚îÇ
‚îÇ     ‚îÇ Symbol   ‚îÇ Union‚Ä¶  ‚îÇ Any      ‚îÇ Union‚Ä¶ ‚îÇ Any       ‚îÇ Union‚Ä¶  ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ 1   ‚îÇ year     ‚îÇ 1982.99 ‚îÇ 1951     ‚îÇ 1986.0 ‚îÇ 2014      ‚îÇ         ‚îÇ
‚îÇ 2   ‚îÇ language ‚îÇ         ‚îÇ ALGOL 58 ‚îÇ        ‚îÇ dBase III ‚îÇ 73      ‚îÇ

In [14]:
@btime P,H = readdlm("programming_languages.csv",',';header=true);
@btime C = CSV.read("programming_languages.csv");

  147.423 Œºs (325 allocations: 51.09 KiB)
  77.077 Œºs (173 allocations: 18.89 KiB)

In [15]:
# To write to a *.csv file using the CSV package
CSV.write("programminglanguages_CSV.csv",DataFrame(P))

"programminglanguages_CSV.csv"

Another type of files that we may often need to read is `XLSX` files. Let's try to read a new file.

In [17]:
T = XLSX.readdata("data/zillow_data_download_april2020.xlsx", #file name
    "Sale_counts_city", #sheet name
    "A1:F9" #cell range
    )

9√ó6 Array{Any,2}:
      "RegionID"  "RegionName"    ‚Ä¶      "2008-03"      "2008-04"
  6181            "New York"             missing        missing
 12447            "Los Angeles"      1446           1705
 39051            "Houston"          2926           3121
 17426            "Chicago"          2910           3022
  6915            "San Antonio"   ‚Ä¶  1479           1529
 13271            "Philadelphia"     1609           1795
 40326            "Phoenix"          1310           1519
 18959            "Las Vegas"        1618           1856

If you don't want to specify cell ranges... though this will take a little longer...

In [18]:
G = XLSX.readtable("data/zillow_data_download_april2020.xlsx","Sale_counts_city");

Here, `G` is a tuple of two items. The first is an vector of vectors where each vector corresponds to a column in the excel file. And the second is the header with the column names.

In [19]:
G[1]

148-element Array{Any,1}:
 Any[6181, 12447, 39051, 17426, 6915, 13271, 40326, 18959, 54296, 38128  ‚Ä¶  396952, 397236, 398030, 398104, 398357, 398712, 398716, 399081, 737789, 760882]
 Any["New York", "Los Angeles", "Houston", "Chicago", "San Antonio", "Philadelphia", "Phoenix", "Las Vegas", "San Diego", "Dallas"  ‚Ä¶  "Barnard Plantation", "Windsor Place", "Stockbridge", "Mattamiscontis", "Chase Stream", "Bowdoin College Grant West", "Summerset", "Long Pond", "Hideout", "Ebeemee"]
 Any["New York", "California", "Texas", "Illinois", "Texas", "Pennsylvania", "Arizona", "Nevada", "California", "Texas"  ‚Ä¶  "Maine", "Missouri", "Wisconsin", "Maine", "Maine", "Maine", "South Dakota", "Maine", "Utah", "Maine"]
 Any[1, 2, 3, 4, 5, 6, 7, 8, 9, 10  ‚Ä¶  28750, 28751, 28752, 28753, 28754, 28755, 28756, 28757, 28758, 28759]
 Any[missing, 1446, 2926, 2910, 1479, 1609, 1310, 1618, 772, 1158  ‚Ä¶  0, 0, 0, 0, 0, 0, 0, 0, 1, 0]
 Any[missing, 1705, 3121, 3022, 1529, 1795, 1519, 1856, 1057, 1232  ‚Ä¶  0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
 Any[missing, 1795, 3220, 2937, 1582, 1709, 1654, 1961, 1195, 1240  ‚Ä¶  0, 0, 0, 0, 0, 0, 2, 0, 0, 0]
 Any[missing, 1890, 3405, 3224, 1761, 1914, 1743, 2022, 1115, 1236  ‚Ä¶  0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
 Any[missing, 2072, 3352, 3464, 1678, 1984, 1975, 2219, 1272, 1392  ‚Ä¶  0, 0, 0, 0, 0, 1, 1, 0, 0, 0]
 Any[missing, 1876, 2962, 3371, 1468, 1739, 1809, 2248, 1171, 1138  ‚Ä¶  0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
 Any[missing, 1981, 2017, 2979, 1480, 1635, 1965, 2207, 1193, 1042  ‚Ä¶  0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
 Any[missing, 2195, 2595, 2869, 1475, 1598, 2074, 2372, 1319, 1089  ‚Ä¶  0, 1, 0, 0, 0, 0, 0, 0, 0, 0]
 Any[missing, 1579, 1865, 1915, 949, 1169, 1435, 1880, 873, 772  ‚Ä¶  0, 0, 0, 0, 1, 0, 0, 0, 0, 0]
 ‚ãÆ
 Any[3456, 2150, 3283, 2735, 1989, 1958, 3378, 2748, 1207, 1058  ‚Ä¶  0, 1, 0, 1, 4, 0, 6, 0, 0, 0]
 Any[3652, 2537, 3620, 3197, 2137, 2177, 3728, 2959, 1384, 1221  ‚Ä¶  0, 0, 0, 0, 0, 0, 4, 0, 0, 0]
 Any[3473, 2651, 3894, 3702, 2384, 2682, 3898, 3284, 1542, 1407  ‚Ä¶  0, 0, 0, 0, 0, 2, 3, 0, 0, 0]
 Any[3900, 2504, 3511, 3549, 2242, 2270, 3570, 3058, 1433, 1235  ‚Ä¶  0, 0, 2, 0, 0, 2, 6, 0, 1, 0]
 Any[4493, 2675, 3687, 3622, 2300, 2479, 3616, 3235, 1529, 1423  ‚Ä¶  0, 0, 0, 0, 0, 3, 10, 0, 1, 0]
 Any[4266, 2759, 3414, 3619, 2233, 2503, 3581, 3254, 1479, 1266  ‚Ä¶  0, missing, 0, 0, 0, 3, 5, 0, 2, 0]
 Any[4183, 2334, 2803, 2938, 1788, 2184, 3199, 2821, 1307, 1143  ‚Ä¶  0, missing, 0, 0, 1, 1, 4, 0, 1, 0]
 Any[4232, 2594, 2969, 2930, 1917, 2337, 3189, 3097, 1356, 1239  ‚Ä¶  0, missing, 0, 0, 0, missing, 8, 0, 2, 0]
 Any[3869, 2272, 2699, 2176, 1520, 1931, 2867, 2702, 1179, 1117  ‚Ä¶  0, missing, 0, 0, 0, missing, 8, 0, missing, 0]
 Any[3938, 2394, 3338, 2866, 1876, 2192, 2934, 2810, 1276, 1315  ‚Ä¶  0, missing, 0, 0, 0, missing, 5, 0, missing, 0]
 Any[4306, 2006, 2407, 2240, 1460, 2381, 2226, 2512, 1020, 1056  ‚Ä¶  0, missing, 0, 0, 0, missing, 1, 0, missing, 1]
 Any[4054, 1522, 2682, 2100, 1626, 1620, 2325, 2547, missing, 1292  ‚Ä¶  missing, missing, missing, missing, missing, missing, 2, 0, missing, 0]

In [20]:
G[1][1][1:10]

10-element Array{Any,1}:
  6181
 12447
 39051
 17426
  6915
 13271
 40326
 18959
 54296
 38128

In [21]:
G[2][1:10]

10-element Array{Symbol,1}:
 :RegionID
 :RegionName
 :StateName
 :SizeRank
 Symbol("2008-03")
 Symbol("2008-04")
 Symbol("2008-05")
 Symbol("2008-06")
 Symbol("2008-07")
 Symbol("2008-08")

And we can easily store this data in a DataFrame. `DataFrame(G...)` uses the "splat" operator to _unwrap_ these arrays and pass them to the DataFrame constructor.

In [22]:
D = DataFrame(G...) # equivalent to DataFrame(G[1],G[2])

28759√ó148 DataFrame. Omitted printing of 144 columns
‚îÇ Row   ‚îÇ RegionID ‚îÇ RegionName                 ‚îÇ StateName    ‚îÇ SizeRank ‚îÇ
‚îÇ       ‚îÇ Any      ‚îÇ Any                        ‚îÇ Any          ‚îÇ Any      ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ 1     ‚îÇ 6181     ‚îÇ New York                   ‚îÇ New York     ‚îÇ 1        ‚îÇ
‚îÇ 2     ‚îÇ 12447    ‚îÇ Los Angeles                ‚îÇ California   ‚îÇ 2        ‚îÇ
‚îÇ 3     ‚îÇ 39051    ‚îÇ Houston                    ‚îÇ Texas        ‚îÇ 3        ‚îÇ
‚îÇ 4     ‚îÇ 17426    ‚îÇ Chicago                    ‚îÇ Illinois     ‚îÇ 4        ‚îÇ
‚îÇ 5     ‚îÇ 6915     ‚îÇ San Antonio                ‚îÇ Texas        ‚îÇ 5        ‚îÇ
‚îÇ 6     ‚îÇ 13271    ‚îÇ Philadelphia               ‚îÇ Pennsylvania ‚îÇ 6        ‚îÇ
‚îÇ 7     ‚îÇ 40326    ‚îÇ Phoenix                    ‚îÇ Arizona      ‚îÇ 7        ‚îÇ
‚îÇ 8     ‚îÇ 18959    ‚îÇ Las Vegas                  ‚îÇ Nevada       ‚îÇ 8        ‚îÇ
‚îÇ 9     ‚îÇ 54296    ‚îÇ San Diego                  ‚îÇ California   ‚îÇ 9        ‚îÇ
‚îÇ 10    ‚îÇ 38128    ‚îÇ Dallas                     ‚îÇ Texas        ‚îÇ 10       ‚îÇ
‚ãÆ
‚îÇ 28749 ‚îÇ 396947   ‚îÇ Beaver Cove Plantation     ‚îÇ Maine        ‚îÇ 28749    ‚îÇ
‚îÇ 28750 ‚îÇ 396952   ‚îÇ Barnard Plantation         ‚îÇ Maine        ‚îÇ 28750    ‚îÇ
‚îÇ 28751 ‚îÇ 397236   ‚îÇ Windsor Place              ‚îÇ Missouri     ‚îÇ 28751    ‚îÇ
‚îÇ 28752 ‚îÇ 398030   ‚îÇ Stockbridge                ‚îÇ Wisconsin    ‚îÇ 28752    ‚îÇ
‚îÇ 28753 ‚îÇ 398104   ‚îÇ Mattamiscontis             ‚îÇ Maine        ‚îÇ 28753    ‚îÇ
‚îÇ 28754 ‚îÇ 398357   ‚îÇ Chase Stream               ‚îÇ Maine        ‚îÇ 28754    ‚îÇ
‚îÇ 28755 ‚îÇ 398712   ‚îÇ Bowdoin College Grant West ‚îÇ Maine        ‚îÇ 28755    ‚îÇ
‚îÇ 28756 ‚îÇ 398716   ‚îÇ Summerset                  ‚îÇ South Dakota ‚îÇ 28756    ‚îÇ
‚îÇ 28757 ‚îÇ 399081   ‚îÇ Long Pond                  ‚îÇ Maine        ‚îÇ 28757    ‚îÇ
‚îÇ 28758 ‚îÇ 737789   ‚îÇ Hideout                    ‚îÇ Utah         ‚îÇ 28758    ‚îÇ
‚îÇ 28759 ‚îÇ 760882   ‚îÇ Ebeemee                    ‚îÇ Maine        ‚îÇ 28759    ‚îÇ

In [27]:
foods = ["apple", "cucumber", "tomato", "banana"]
calories = [105,47,22,105]
prices = [0.85,1.6,0.8,0.6,]
dataframe_calories = DataFrame(item=foods,calories=calories)
dataframe_prices = DataFrame(item=foods,price=prices)

4√ó2 DataFrame
‚îÇ Row ‚îÇ item     ‚îÇ price   ‚îÇ
‚îÇ     ‚îÇ String   ‚îÇ Float64 ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ 1   ‚îÇ apple    ‚îÇ 0.85    ‚îÇ
‚îÇ 2   ‚îÇ cucumber ‚îÇ 1.6     ‚îÇ
‚îÇ 3   ‚îÇ tomato   ‚îÇ 0.8     ‚îÇ
‚îÇ 4   ‚îÇ banana   ‚îÇ 0.6     ‚îÇ

In [29]:
DF = innerjoin(dataframe_calories,dataframe_prices,on=:item)

4√ó3 DataFrame
‚îÇ Row ‚îÇ item     ‚îÇ calories ‚îÇ price   ‚îÇ
‚îÇ     ‚îÇ String   ‚îÇ Int64    ‚îÇ Float64 ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ 1   ‚îÇ apple    ‚îÇ 105      ‚îÇ 0.85    ‚îÇ
‚îÇ 2   ‚îÇ cucumber ‚îÇ 47       ‚îÇ 1.6     ‚îÇ
‚îÇ 3   ‚îÇ tomato   ‚îÇ 22       ‚îÇ 0.8     ‚îÇ
‚îÇ 4   ‚îÇ banana   ‚îÇ 105      ‚îÇ 0.6     ‚îÇ

In [30]:
# we can also use the DataFrame constructor on a Matrix
DataFrame(T)

9√ó6 DataFrame
‚îÇ Row ‚îÇ x1       ‚îÇ x2           ‚îÇ x3           ‚îÇ x4       ‚îÇ x5      ‚îÇ x6      ‚îÇ
‚îÇ     ‚îÇ Any      ‚îÇ Any          ‚îÇ Any          ‚îÇ Any      ‚îÇ Any     ‚îÇ Any     ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ 1   ‚îÇ RegionID ‚îÇ RegionName   ‚îÇ StateName    ‚îÇ SizeRank ‚îÇ 2008-03 ‚îÇ 2008-04 ‚îÇ
‚îÇ 2   ‚îÇ 6181     ‚îÇ New York     ‚îÇ New York     ‚îÇ 1        ‚îÇ missing ‚îÇ missing ‚îÇ
‚îÇ 3   ‚îÇ 12447    ‚îÇ Los Angeles  ‚îÇ California   ‚îÇ 2        ‚îÇ 1446    ‚îÇ 1705    ‚îÇ
‚îÇ 4   ‚îÇ 39051    ‚îÇ Houston      ‚îÇ Texas        ‚îÇ 3        ‚îÇ 2926    ‚îÇ 3121    ‚îÇ
‚îÇ 5   ‚îÇ 17426    ‚îÇ Chicago      ‚îÇ Illinois     ‚îÇ 4        ‚îÇ 2910    ‚îÇ 3022    ‚îÇ
‚îÇ 6   ‚îÇ 6915     ‚îÇ San Antonio  ‚îÇ Texas        ‚îÇ 5        ‚îÇ 1479    ‚îÇ 1529    ‚îÇ
‚îÇ 7   ‚îÇ 13271    ‚îÇ Philadelphia ‚îÇ Pennsylvania ‚îÇ 6        ‚îÇ 1609    ‚îÇ 1795    ‚îÇ
‚îÇ 8   ‚îÇ 40326    ‚îÇ Phoenix      ‚îÇ Arizona      ‚îÇ 7        ‚îÇ 1310    ‚îÇ 1519    ‚îÇ
‚îÇ 9   ‚îÇ 18959    ‚îÇ Las Vegas    ‚îÇ Nevada       ‚îÇ 8        ‚îÇ 1618    ‚îÇ 1856    ‚îÇ

You can also easily write data to an XLSX file

In [31]:
# if you already have a dataframe: 
# XLSX.writetable("filename.xlsx", collect(DataFrames.eachcol(df)), DataFrames.names(df))
XLSX.writetable("writefile_using_XLSX.xlsx",G[1],G[2])

## ‚¨áÔ∏è Importing your data

Often, the data you want to import is not stored in plain text, and you might want to import different kinds of types. Here we will go over importing `jld`, `npz`, `rda`, and `mat` files. Hopefully, these four will capture the types from four common programming languages used in Data Science (Julia, Python, R, Matlab).

We will use a toy example here of a very small matrix. But the same syntax will hold for bigger files.

```
4√ó5 Array{Int64,2}:
 2  1446  1705  1795  1890
 3  2926  3121  3220  3405
 4  2910  3022  2937  3224
 5  1479  1529  1582  1761
 ```

In [33]:
using JLD
jld_data = JLD.load("data/mytempdata.jld")
save("mywrite.jld", "A", jld_data)

In [35]:
using NPZ
npz_data = npzread("data/mytempdata.npz")
npzwrite("mywrite.npz", npz_data)

In [38]:
using RData
R_data = RData.load("data/mytempdata.rda")
# We'll need RCall to save here. https://github.com/JuliaData/RData.jl/issues/56
using RCall
@rput R_data
R"save(R_data, file=\"mywrite.rda\")"

RObject{NilSxp}
NULL

In [39]:
using MAT
Matlab_data = matread("data/mytempdata.mat")
matwrite("mywrite.mat",Matlab_data)

In [40]:
@show typeof(jld_data)
@show typeof(npz_data)
@show typeof(R_data)
@show typeof(Matlab_data)
;

typeof(jld_data) = Dict{String,Any}
typeof(npz_data) = Array{Int64,2}
typeof(R_data) = Dict{String,Any}
typeof(Matlab_data) = Dict{String,Any}

In [41]:
Matlab_data

Dict{String,Any} with 1 entry:
  "tempdata" => [2 1446 ‚Ä¶ 1795 1890; 3 2926 ‚Ä¶ 3220 3405; 4 2910 ‚Ä¶ 2937 3224; 5 ‚Ä¶

# üî¢ Time to process the data from Julia
We will mainly cover `Matrix` (or `Vector`), `DataFrame`s, and `dict`s (or dictionaries). Let's bring back our programming languages dataset and start playing it the matrix it's stored in.

In [42]:
P

73√ó2 Array{Any,2}:
 1951  "Regional Assembly Language"
 1952  "Autocode"
 1954  "IPL"
 1955  "FLOW-MATIC"
 1957  "FORTRAN"
 1957  "COMTRAN"
 1958  "LISP"
 1958  "ALGOL 58"
 1959  "FACT"
 1959  "COBOL"
 1959  "RPG"
 1962  "APL"
 1962  "Simula"
    ‚ãÆ
 2003  "Scala"
 2005  "F#"
 2006  "PowerShell"
 2007  "Clojure"
 2009  "Go"
 2010  "Rust"
 2011  "Dart"
 2011  "Kotlin"
 2011  "Red"
 2011  "Elixir"
 2012  "Julia"
 2014  "Swift"

Here are some quick questions we might want to ask about this simple data.
- Which year was was a given language invented?
- How many languages were created in a given year?

In [43]:
# Q1: Which year was was a given language invented?
function year_created(P,language::String)
    loc = findfirst(P[:,2] .== language)
    return P[loc,1]
end
year_created(P,"Julia")

2012

In [44]:
year_created(P,"W")

ArgumentError: ArgumentError: invalid index: nothing of type Nothing

In [45]:
function year_created_handle_error(P,language::String)
    loc = findfirst(P[:,2] .== language)
    !isnothing(loc) && return P[loc,1]
    error("Error: Language not found.")
end
year_created_handle_error(P,"W")

ErrorException: Error: Language not found.

In [46]:
# Q2: How many languages were created in a given year?
function how_many_per_year(P,year::Int64)
    year_count = length(findall(P[:,1].==year))
    return year_count
end
how_many_per_year(P,2011)

4

Now let's try to store this data in a DataFrame...

In [47]:
P_df = C #DataFrame(year = P[:,1], language = P[:,2]) # or DataFrame(P)

73√ó2 DataFrame
‚îÇ Row ‚îÇ year  ‚îÇ language                   ‚îÇ
‚îÇ     ‚îÇ Int64 ‚îÇ String                     ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ 1   ‚îÇ 1951  ‚îÇ Regional Assembly Language ‚îÇ
‚îÇ 2   ‚îÇ 1952  ‚îÇ Autocode                   ‚îÇ
‚îÇ 3   ‚îÇ 1954  ‚îÇ IPL                        ‚îÇ
‚îÇ 4   ‚îÇ 1955  ‚îÇ FLOW-MATIC                 ‚îÇ
‚îÇ 5   ‚îÇ 1957  ‚îÇ FORTRAN                    ‚îÇ
‚îÇ 6   ‚îÇ 1957  ‚îÇ COMTRAN                    ‚îÇ
‚îÇ 7   ‚îÇ 1958  ‚îÇ LISP                       ‚îÇ
‚îÇ 8   ‚îÇ 1958  ‚îÇ ALGOL 58                   ‚îÇ
‚îÇ 9   ‚îÇ 1959  ‚îÇ FACT                       ‚îÇ
‚îÇ 10  ‚îÇ 1959  ‚îÇ COBOL                      ‚îÇ
‚ãÆ
‚îÇ 63  ‚îÇ 2005  ‚îÇ F#                         ‚îÇ
‚îÇ 64  ‚îÇ 2006  ‚îÇ PowerShell                 ‚îÇ
‚îÇ 65  ‚îÇ 2007  ‚îÇ Clojure                    ‚îÇ
‚îÇ 66  ‚îÇ 2009  ‚îÇ Go                         ‚îÇ
‚îÇ 67  ‚îÇ 2010  ‚îÇ Rust                       ‚îÇ
‚îÇ 68  ‚îÇ 2011  ‚îÇ Dart                       ‚îÇ
‚îÇ 69  ‚îÇ 2011  ‚îÇ Kotlin                     ‚îÇ
‚îÇ 70  ‚îÇ 2011  ‚îÇ Red                        ‚îÇ
‚îÇ 71  ‚îÇ 2011  ‚îÇ Elixir                     ‚îÇ
‚îÇ 72  ‚îÇ 2012  ‚îÇ Julia                      ‚îÇ
‚îÇ 73  ‚îÇ 2014  ‚îÇ Swift                      ‚îÇ

In [48]:
# Even better, since we know the types of each column, we can create the DataFrame as follows:
# P_df = DataFrame(year = Int.(P[:,1]), language = string.(P[:,2]))

And now let's answer the same questions we just answered...

In [49]:
# Q1: Which year was was a given language invented?
# it's a little more intuitive and you don't need to remember the column ids
function year_created(P_df,language::String)
    loc = findfirst(P_df.language .== language)
    return P_df.year[loc]
end
year_created(P_df,"Julia")

2012

In [50]:
year_created(P_df,"W")

ArgumentError: ArgumentError: invalid index: nothing of type Nothing

In [51]:
function year_created_handle_error(P_df,language::String)
    loc = findfirst(P_df.language .== language)
    !isnothing(loc) && return P_df.year[loc]
    error("Error: Language not found.")
end
year_created_handle_error(P_df,"W")

ErrorException: Error: Language not found.

In [52]:
# Q2: How many languages were created in a given year?
function how_many_per_year(P_df,year::Int64)
    year_count = length(findall(P_df.year.==year))
    return year_count
end
how_many_per_year(P_df,2011)

4

Next, we'll use dictionaries. A quick way to create a dictionary is with the `Dict()` command. But this creates a dictionary without types. Here, we will specify the types of this dictionary.

In [53]:
# A quick example to show how to build a dictionary
Dict([("A", 1), ("B", 2),(1,[1,2])])

Dict{Any,Any} with 3 entries:
  "B" => 2
  "A" => 1
  1   => [1, 2]

In [54]:
P_dictionary = Dict{Integer,Vector{String}}()

Dict{Integer,Array{String,1}} with 0 entries

In [55]:
#P_dictionary[67] = ["julia","programming"]

In [56]:
# this is not gonna work.
P_dictionary["julia"] = 7

MethodError: MethodError: Cannot `convert` an object of type String to an object of type Integer
Closest candidates are:
  convert(::Type{T}, !Matched::EzXML.NodeType) where T<:Integer at /Users/hnassar/.julia/packages/EzXML/ZNwhK/src/node.jl:37
  convert(::Type{T}, !Matched::EzXML.ReaderType) where T<:Integer at /Users/hnassar/.julia/packages/EzXML/ZNwhK/src/streamreader.jl:55
  convert(::Type{T}, !Matched::T) where T<:Number at number.jl:6
  ...

Now, let's populate the dictionary with years as keys and vectors that hold all the programming languages created in each year as their values. Even though this looks like more work, we often need to do it just once.

In [57]:
dict = Dict{Integer,Vector{String}}()
for i = 1:size(P,1)
    year,lang = P[i,:]
    if year in keys(dict)
        dict[year] = push!(dict[year],lang) 
        # note that push! is not our favorite thing to do in Julia, 
        # but we're focusing on correctness rather than speed here
    else
        dict[year] = [lang]
    end
end

In [58]:
# Though a smarter way to do this is:
curyear = P_df.year[1]
P_dictionary[curyear] = [P_df.language[1]]
for (i,nextyear) in enumerate(P_df.year[2:end])
    if nextyear == curyear
        #same key
        P_dictionary[curyear] = push!(P_dictionary[curyear],P_df.language[i+1])
        # note that push! is not our favorite thing to do in Julia, 
        # but we're focusing on correctness rather than speed here
    else
        curyear = nextyear
        P_dictionary[curyear] = [P_df.language[i+1]]
    end
end

In [59]:
length(keys(P_dictionary))

45

In [60]:
length(unique(P[:,1]))

45

In [61]:
# Q1: Which year was was a given language invented?
# now instead of looking in one long vector, we will look in many small vectors
function year_created(P_dictionary,language::String)
    keys_vec = collect(keys(P_dictionary))
    lookup = map(keyid -> findfirst(P_dictionary[keyid].==language),keys_vec)
    # now the lookup vector has `nothing` or a numeric value. We want to find the index of the numeric value.
    return keys_vec[findfirst((!isnothing).(lookup))]
end
year_created(P_dictionary,"Julia")

2012

In [62]:
# Q2: How many languages were created in a given year?
how_many_per_year(P_dictionary,year::Int64) = length(P_dictionary[year])
how_many_per_year(P_dictionary,2011)

4

# üìù A note about missing data

In [63]:
# assume there were missing values in our dataframe
P[1,1] = missing
P_df = DataFrame(year = P[:,1], language = P[:,2])

73√ó2 DataFrame
‚îÇ Row ‚îÇ year    ‚îÇ language                   ‚îÇ
‚îÇ     ‚îÇ Any     ‚îÇ Any                        ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ 1   ‚îÇ missing ‚îÇ Regional Assembly Language ‚îÇ
‚îÇ 2   ‚îÇ 1952    ‚îÇ Autocode                   ‚îÇ
‚îÇ 3   ‚îÇ 1954    ‚îÇ IPL                        ‚îÇ
‚îÇ 4   ‚îÇ 1955    ‚îÇ FLOW-MATIC                 ‚îÇ
‚îÇ 5   ‚îÇ 1957    ‚îÇ FORTRAN                    ‚îÇ
‚îÇ 6   ‚îÇ 1957    ‚îÇ COMTRAN                    ‚îÇ
‚îÇ 7   ‚îÇ 1958    ‚îÇ LISP                       ‚îÇ
‚îÇ 8   ‚îÇ 1958    ‚îÇ ALGOL 58                   ‚îÇ
‚îÇ 9   ‚îÇ 1959    ‚îÇ FACT                       ‚îÇ
‚îÇ 10  ‚îÇ 1959    ‚îÇ COBOL                      ‚îÇ
‚ãÆ
‚îÇ 63  ‚îÇ 2005    ‚îÇ F#                         ‚îÇ
‚îÇ 64  ‚îÇ 2006    ‚îÇ PowerShell                 ‚îÇ
‚îÇ 65  ‚îÇ 2007    ‚îÇ Clojure                    ‚îÇ
‚îÇ 66  ‚îÇ 2009    ‚îÇ Go                         ‚îÇ
‚îÇ 67  ‚îÇ 2010    ‚îÇ Rust                       ‚îÇ
‚îÇ 68  ‚îÇ 2011    ‚îÇ Dart                       ‚îÇ
‚îÇ 69  ‚îÇ 2011    ‚îÇ Kotlin                     ‚îÇ
‚îÇ 70  ‚îÇ 2011    ‚îÇ Red                        ‚îÇ
‚îÇ 71  ‚îÇ 2011    ‚îÇ Elixir                     ‚îÇ
‚îÇ 72  ‚îÇ 2012    ‚îÇ Julia                      ‚îÇ
‚îÇ 73  ‚îÇ 2014    ‚îÇ Swift                      ‚îÇ

In [64]:
dropmissing(P_df)

72√ó2 DataFrame
‚îÇ Row ‚îÇ year ‚îÇ language   ‚îÇ
‚îÇ     ‚îÇ Any  ‚îÇ Any        ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ 1   ‚îÇ 1952 ‚îÇ Autocode   ‚îÇ
‚îÇ 2   ‚îÇ 1954 ‚îÇ IPL        ‚îÇ
‚îÇ 3   ‚îÇ 1955 ‚îÇ FLOW-MATIC ‚îÇ
‚îÇ 4   ‚îÇ 1957 ‚îÇ FORTRAN    ‚îÇ
‚îÇ 5   ‚îÇ 1957 ‚îÇ COMTRAN    ‚îÇ
‚îÇ 6   ‚îÇ 1958 ‚îÇ LISP       ‚îÇ
‚îÇ 7   ‚îÇ 1958 ‚îÇ ALGOL 58   ‚îÇ
‚îÇ 8   ‚îÇ 1959 ‚îÇ FACT       ‚îÇ
‚îÇ 9   ‚îÇ 1959 ‚îÇ COBOL      ‚îÇ
‚îÇ 10  ‚îÇ 1959 ‚îÇ RPG        ‚îÇ
‚ãÆ
‚îÇ 62  ‚îÇ 2005 ‚îÇ F#         ‚îÇ
‚îÇ 63  ‚îÇ 2006 ‚îÇ PowerShell ‚îÇ
‚îÇ 64  ‚îÇ 2007 ‚îÇ Clojure    ‚îÇ
‚îÇ 65  ‚îÇ 2009 ‚îÇ Go         ‚îÇ
‚îÇ 66  ‚îÇ 2010 ‚îÇ Rust       ‚îÇ
‚îÇ 67  ‚îÇ 2011 ‚îÇ Dart       ‚îÇ
‚îÇ 68  ‚îÇ 2011 ‚îÇ Kotlin     ‚îÇ
‚îÇ 69  ‚îÇ 2011 ‚îÇ Red        ‚îÇ
‚îÇ 70  ‚îÇ 2011 ‚îÇ Elixir     ‚îÇ
‚îÇ 71  ‚îÇ 2012 ‚îÇ Julia      ‚îÇ
‚îÇ 72  ‚îÇ 2014 ‚îÇ Swift      ‚îÇ

# Finally...
After finishing this notebook, you should be able to:
- [ ] dowload a data file from the web given a url
- [ ] load data from a file from a text file via DelimitedFiles or CSV
- [ ] write your data to a text file or csv file
- [ ] load data from file types xlsx, jld, npz, mat, rda
- [ ] write your data to an xlsx file, jld, npz, mat, rda
- [ ] store data in a 2D array (`Matrix`), or `DataFrame` or `Dict`
- [ ] write functions to perform basic lookups on `Matrix`, `DataFrame`, and `Dict` types
- [ ] use some of the basic functions on `DataFrame`s such as: `dropmissing`, `describe`, `by`, and `join`

# ü•≥ One cool finding

Julia was created in 2012